NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=""
DATABASE_URL=""
GOOGLE_API_KEY=""
GROQ_API_KEY=""
OPIK_API_KEY=""
OPIK_WORKSPACE=""
OPIK_PROJECT_NAME=""
FIRECRAWL_API_KEY=""
OPIK_CONVERSATION_DATASET_NAME=""
OPIK_TEACHING_DATASET_NAME=""
OPIK_URL_OVERRIDE=""
SUPABASE_SERVICE_ROLE_KEY=""